---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carousel-inner {
  height: 400px;
  display: flex;
  transition: transform 0.2s ease-in-out;
}




.item {
  display: none;  /* Hide inactive slides */
  position: relative;
  transition: opacity 0.2s ease-in-out;  /* Smooth transition effect */
}

.item.active {
  display: block;  /* Show the active slide */
  opacity: 1;
}



.item img {
  height: 100%;
  width: auto;
  object-fit: cover; 
  position: relative;
}
