---
title: "Publications"
layout: default
excerpt: "RHAD Lab -- Publications."
sitemap: false
permalink: /publications/
--- 

<style>
table {
  display:table;
  width:100%;
}
table td:nth-of-type(1) {
  vertical-align:top;
  width:4%;
  padding-right:5px;
}
</style>

<h1>{{page.title}}</h1>

{%- assign pubs_j = site.data.publications | where: "type", "article-journal" %}
{%- assign pubs_c = site.data.publications | where: "type", "paper-conference" %}
{%- assign pubs_t = site.data.publications | where: "type", "manuscript" %}

<h2>Journals</h2>
<div class="panel-heading">
<table>
  <tbody>
{%- for publi in pubs_j %}
   <tr>
    <td>
    <!-- index -->
    [J{{ forloop.rindex }}]
    </td>
    <td>
    <!-- authors -->
    {%- include function.format_and_print_authors.liquid authors=publi.author %},
    <!-- title -->
    <b>"{{ publi.title }}"</b>,
    <!-- journal name -->
    <em>{{ publi.container-title }}</em>, 
    <!-- volume -->
    {% if publi.volume -%}
      vol. {{ publi.volume }}, 
    {% endif -%}
    <!-- number -->
    {% if publi.collection-number -%}
      no. {{ publi.collection-number }}, 
    {% endif -%}
    <!-- page range -->
    {% if publi.page -%}
      pp. {{ publi.page }}, 
    {% endif -%}
    <!-- issued date -->
    {{ publi.issued.date-parts | jsonify | slice: 2,4 }}.
    <!-- DOI -->
    {% if publi.DOI -%}
      <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
    {% elsif publi.URL -%}
      <a href="{{publi.URL}}">URL</a>
    {% endif -%}
    </td>
   </tr>
{%- endfor %}
  </tbody>
</table>
</div>


<h2>Conference Proceedings and Posters</h2>
<div class="panel-heading">
<table>
  <tbody>
{%- for publi in pubs_c %}
   <tr>
    <td>
    <!-- index -->
    [C{{ forloop.rindex }}]
    </td>
    <td>
    <!-- authors -->
    {%- include function.format_and_print_authors.liquid authors=publi.author %},
    <!-- title -->
    <b>"{{ publi.title }}"</b>,
    <!-- conference name -->
    <em>{{ publi.container-title }}</em>, 
    <!-- volume -->
    {% if publi.volume -%}
      vol. {{ publi.volume }}, 
    {% endif -%}
    <!-- number -->
    {% if publi.collection-number -%}
      no. {{ publi.collection-number }}, 
    {% endif -%}
    <!-- page range -->
    {% if publi.page -%}
      pp. {{ publi.page }}, 
    {% endif -%}
    <!-- date -->
    {{ publi.issued.date-parts | jsonify | slice: 2,4 }}.
     <!-- DOI -->
    {% if publi.DOI -%}
      <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
    {% endif -%}
    </td>
   </tr>
{%- endfor %}
  </tbody>
</table>
</div>

<h2>Invited Talks</h2>
<div class="panel-heading">
<table>
  <tbody>
{%- for publi in pubs_t %}
   <tr>
    <td>
    <!-- index -->
    [T{{ forloop.rindex }}]
    </td>
    <td>
    <!-- authors -->
    {%- include function.format_and_print_authors.liquid authors=publi.author %},
    <!-- title -->
    <b>"{{ publi.title }}"</b>,
    <!-- location -->
    <em>{{ publi.publisher-place }}</em>, 
    <!-- date -->
    {{ publi.issued.date-parts | jsonify | slice: 2,4 }}.
    </td>
   </tr>
{%- endfor %}
  </tbody>
</table>
</div>
