---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
--- 


<h1>{{page.title}}</h1>

<h2>Journals</h2>
{% for publi in site.data.publications %}
{% if publi.type == "article-journal" %}
    <div class="panel-heading">
        <!-- authors -->
        {% assign authors = "" | split:"/" %}
        {% for author in publi.author %}
            {% assign name = author.given | split: " " %}
            {% assign firstname = "" | split: "/" %}
            {% for i in name %}
              {% assign t = i | split: "" | first | append: "." %}
              {% if i contains "-" %}
                {% assign subname = i | split: "-" %}
                {% assign s = ""  | split: "/" %}
                {% for j in subname %}
                  {% assign t = j | split: "" | first | append: "." %}
                  {% assign s = s | concat: t %}
                {% endfor %}
                {% assign t = s | join: "-" %}
            	{% endif %}
              {% assign firstname = firstname | concat: t %}
            {% endfor %}
            {% assign aname = firstname | concat: author.family %}
            {% assign aname = aname | join: " " %}
            {% assign authors = authors | push: aname %}
        {% endfor %}
        {{ authors | array_to_sentence_string }},

        <!-- title with link -->
        "{{ publi.title }}",

        <!-- container -->
        <b>{{ publi.container-title }}</b>, 

        {% if publi.volume %}
          vol. {{ publi.volume }}, 
        {% endif %}

        <!-- issued date -->
        {{ publi.issued.date-parts | jsonify | slice: 2,4 }}.

        <!-- DOI -->
        {% if publi.DOI %}
            <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
        {% elsif publi.URL %}
            <a href="{{publi.URL}}">URL</a>
        {% endif %}
    </div>
{% endif %}
{% endfor %}


<h2>Conference Proceedings and Posters</h2>
{% for publi in site.data.publications %}
{% if publi.type == "paper-conference" %}
<div class="panel-heading">
    <!-- authors -->
    {% assign authors = "" | split:"/" %}
    {% for author in publi.author %}
        {% assign authors = authors | push: author.family %}
    {% endfor %}
    {{ authors | array_to_sentence_string }},

     <!-- title with link -->
     "{{ publi.title }}",

     <!-- container -->
    <b>{{ publi.container-title }}</b>, 

    {% if publi.volume %}
      vol. {{ publi.volume }}, 
    {% endif %}

    <!-- issued date -->
    {{ publi.issued.date-parts | jsonify | slice: 2,4 }}.

     <!-- DOI -->
    {% if publi.DOI %}
      <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
    {% endif %}
</div>
{% endif %}
{% endfor %}

<h2>Invited Talks</h2>
{% for publi in site.data.publications %}
{% if publi.type == "manuscript" %}
<div class="panel-heading">
    <!-- authors -->
    {% assign authors = "" | split:"/" %}
    {% for author in publi.author %}
        {% assign authors = authors | push: author.family %}
    {% endfor %}
    {{ authors | array_to_sentence_string }},

     <!-- title with link -->
     "{{ publi.title }}",

     <!-- place -->
    <b>{{ publi.publisher-place }}</b>, 

    {% if publi.volume %}
      vol. {{ publi.volume }}, 
    {% endif %}

    <!-- issued date -->
    {{ publi.issued.date-parts | jsonify | slice: 2,4}}.
</div>
{% endif %}
{% endfor %}
