<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<img class="img-fluid" src="/images/logo/lab-logo.png"
				     style="max-width: 300px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://scholar.google.com/citations?user=s9s1xyQAAAAJ&hl=en">Google Scholar</a></li>
					<li><a href="https://www.researchgate.net/profile/Rachel-Bouserhal">Research Gate</a></li>
					<li><a href="https://www.linkedin.com/in/rbouserhal">LinkedIn</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Sitemap</p>
				<ul class="list-unstyled">
					<li><a href="/">Home</a></li>				
					<li><a href="/team">Team</a></li>				
					<li><a href="/news">News</a></li>				
					<li><a href="/projects">Research</a></li>				
					<li><a href="/publications">Publications</a></li>				
				</ul>
				
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright © 2023 <a href="/">RHAD Lab</a>. All Rights Reserved</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
